frontend/public/admin.html linguist-language=JavaScript
frontend/public/cart.html linguist-language=JavaScript
frontend/public/checkout.html linguist-language=JavaScript
frontend/public/forgot.html linguist-language=JavaScript
frontend/public/home.html linguist-language=JavaScript
frontend/public/index.html linguist-language=JavaScript

